body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #e116c3;
    color: #fff;
    padding: 10px 0;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #e116c3;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.hero {
    display: flex;
    align-items: center;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.hero-text {
    flex: 1;
    text-align: left;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.products {
    padding: 50px 0;
    text-align: center;
}

.product-card {
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(219, 6, 191, 0.1);
    position: relative;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    margin: 10px 0;
}

.color-options {
    margin: 15px 0;
}

.color-options label {
    margin-right: 10px;
}

.add-to-cart {
    background-color: #e116c3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.add-to-cart:hover {
    background-color: #633957;
}

.contact {
    padding: 50px 0;
    text-align: center;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-top: 10px;
    text-align: left;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    background-color: #61345e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.contact form button:hover {
    background-color: #555;
}

.cart {
    padding: 50px 0;
    text-align: center;
}

.cart p {
    font-size: 18px;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        text-align: center;
    }

    .product-card {
        width: 100%;
        margin: 20px 0;
    }
}
